html {
    box-sizing: border-box;
}

*, *::before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.recipe-link {
    background-color: gold;
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}