html {
    box-sizing: border-box;
}

*, *::before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 550px;
    margin: 20px auto;
}

.logo {
    color: orangered;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 40px;
    display: block;

}

.title {
    font-style: italic;
}

.recipe {
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

.link {
    background-color: white;
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 0 auto;
}

.recipe .link:hover {
    color: orangered;
}

.image-border {
    background-color: orangered;
    width: 400px;
    height: 267px;
    margin-top: -250px;
    margin-left: 20px;
}