html {
    box-sizing: border-box;
}

*, *::before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 800px;
    margin: 20px auto;
}

.title.main {
    text-align: center;
}

.recipe {
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

.recipe-link {
    background-color: white;
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    margin: 0 auto;
}